---
import Common from "../../layouts/Common.astro";

import type { GetStaticPaths } from 'astro';
type Post = {
  Content: any;
  frontmatter: {
    slug: string;
    title: string;
  };
};
export const getStaticPaths: GetStaticPaths = async () => {
  // 記事ファイルを取得
  const posts = await Astro.glob<{
    frontmatter: {
      slug: string;
      title: string;
    };
  }>('/src/content/logs/*.md');

  // 各記事のslugをparamsに設定
  return posts.map(post => ({
    params: { slug: post.frontmatter.slug },
    props: { post }
  }));
}

// propsから記事データを取得
const { post } = Astro.props as { post: Post };
const { Content } = post;
---

<Common title={post.frontmatter.title}>
  <article class="work-detail content-section">
    <div class="content">
      <Content />
    </div>
  </article>
</Common>
