/* Google Fontsからの読み込み */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;300;400;500;700&family=IBM+Plex+Sans:wght@100;300;400;500;700&display=swap');

/* ベースとなるフォント設定 */
:root {
  --font-family-base: 'IBM Plex Sans JP', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 
    'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}
/* 基本フォント設定 */
html,
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-feature-settings: "palt"; /* プロポーショナルメトリクスを有効化 */
}

/* 見出し用のフォント設定（必要に応じて） */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* フォントウェイトのユーティリティクラス */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

/* 見出し用の共通スタイル */
.content-section h1,
.content-section h2,
.content-section h3,
.content-section h4,
.content-section h5,
.content-section h6 {
  color: #555;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 6px solid #555;
}

.content-section h1 {
  font-size: 2.0rem;
}

.content-section h2 {
  font-size: 1.75rem;
}

.content-section h3 {
  font-size: 1.25rem;
}

.content-section h4 {
  font-size: 1.0rem;
}

.content-section h5 {
  font-size: 0.8rem;
}

.content-section h6 {
  font-size: 0.5rem;
}